extends layout

block head
  script(src='/js/showmore.js')

block content
  section
    .container
      .name.page-header
        h1 Ryan Alexander Koval
        h4.center
          - var mailto = '&#109;&#65;&#73;&#76;&#84;&#111;&#58;&#114;&#121;&#97;&#110;&#64;&#114;&#121;&#97;&#110;&#107;&#111;&#118;&#97;&#108;&#46;&#99;&#111;&#109;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#114;&#121;&#97;&#110;&#107;&#111;&#118;&#97;&#108;&#46;&#99;&#111;&#109;&#37;&#50;&#48;&#73;&#110;&#113;&#117;&#105;&#114;&#121;';
          a(href!=mailto, target='_blank')
            | ry<span style="display: none;">screwyoubots</span>an@rya<span style="display: none;">antibot</span>nkoval.com
        h4.center
          a(href='https://www.dropbox.com/s/66bactld5mlshw2/Ryan%20Koval%20Resume.pdf') Formal Resume

  section
    .container
      h1 About
      .container.narrow-container
        p.justify Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit.
    hr

  section
    .container
      h1 Skills
    hr

  mixin description(description)
    .description
      if _.isArray(description)
        each desc in description
          p.justify #{desc}
      else
        p.justify #{description}

  mixin dates(date)
    - var format = 'MMMM YYYY'
    small #{moment.unix(date.start).format(format)} to&nbsp;
      if !date.end
        | present
      else
        | #{moment.unix(date.end).format(format)}

  mixin details(details)
    if details
      ul
        each detail in details
          li.justify #{detail}

  mixin mainExpImage(exp)
    section.container.narrow-container
      a(href=exp.image.href)
        img(src=exp.image.src, title=exp.name).img-responsive.logo

  mixin mainExpInfo(exp)
    .container.narrow-container
      h2 #{exp.name}
      each date in exp.dates
        h3
          +dates(date)
      +details(exp.details)
      +description(exp.description)

  section
    .container
      h1 Current employment
    .slalom
      +mainExpImage(experience.current)
    +mainExpInfo(experience.current)


    hr

  section
    .container
      h1 Previous work
    .container.experience.narrow-container

      mixin thumbnail(exp)
        .col-lg-6
          .thumbnail-bottom
            a(href=exp.image.href).center
              if exp.image.absolute
                img(src=exp.image.src, title=exp.name, style='position: absolute').img-responsive.img_greyscale
              else
                img(src=exp.image.src, title=exp.name).img-responsive.img_greyscale
          .caption
            h3.gutter=exp.name
              each date in exp.dates
                h4
                  +dates(date)
            .info
              .gutter
              +details(exp.details)
              +description(exp.description)
              .show-more
                a(href='javascript: void(0);').btn.btn-default read more

      - var columns = 2, expLength = experience.previous.length
      - for (var i = 0; i < expLength; i=i+columns)
        .row
          - for (var j = 0; j < columns && i+j < expLength; j++)
            +thumbnail(experience.previous[i+j])
    hr

  section
    .container
      h1 Education
    .container.narrow-container
      +mainExpImage(experience.education)
    +mainExpInfo(experience.education)
