extends layout

block head
  script(src='/js/showmore.js')

block content
  h1
    a(href='https://www.dropbox.com/s/66bactld5mlshw2/Ryan%20Koval%20Resume.pdf') Formal Resume
  section
    .name.page-header
      h1 Ryan Alexander Koval
        small &nbsp;
          a(href='mailto:kovalrya@gmail.com') koval<span style="display: none;">screwyoubots</span>rya@gmail.com

    #skills
      //- skill set tab
      section
        h1 Skills

    #experience
      //-experience tab
      section
        h1 Currently employed&nbsp;
          small at
        .experience.current-experience.jumbotron
          div(style='text-align: center;')
            a(href=experience.current.image.href).thumbnail
              img(src=experience.current.image.src, title=experience.current.name, style='max-height: 400px; vertical-align: 50%;').img-responsive
          h1 #{experience.current.name}
          p.justify #{experience.current.description}

      section
        .experience.previous-experience
          h1 Previously worked&nbsp;
            small with

          mixin thumbnail(exp)
            .col-lg-6
              .thumbnail-bottom
                a(href=exp.image.href).center
                  img(src=exp.image.src, title=exp.name).img-responsive
              .caption
                h3=exp.name
                h4
                  small #{exp.start} to&nbsp;
                    if !exp.end
                      | present
                    else
                      | #{exp.end}
                .description
                  if exp.details
                    ul(id='details' + index)
                      each detail in exp.details
                        li #{detail}
                  p #{exp.description}
                  .show-more
                    a(href='javascript: void(0);').btn.btn-default read more

          - var columns = 2, expLength = experience.previous.length
          - for (var i = 0; i < expLength; i=i+columns)
            .row
              - for (var j = 0; j < columns && i+j < expLength; j++)
                +thumbnail(experience.previous[i+j])

