extends layout

block headcss
  link(href="/Hover/css/hover-min.css" rel="stylesheet")
  link(href='https://fonts.googleapis.com/css?family=Enriqueta:400,700', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Dosis', rel='stylesheet', type='text/css')
block headjs
  script(src='/js/showmore.js')

block content
  section
    .jumbotron.masthead
      .container
        h1.wow.flipInX(data-wow-delay='0.5s') Ryan Alexander Koval
        p.justify Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit.

  section
    .container.icon-grid
      each skill in skills
        a.icon.col-lg-2.col-sm-3.col-xs-3(href=skill.href)
          - var style = "background-image: url(" + skill.image.href + ");"
          div.img.wow.fadeInUp(style=style, title=skill.name data-wow-offset="50" data-wow-delay="0.5") &nbsp;

  mixin description(description)
    .description
      if _.isArray(description)
        each desc in description
          p.justify #{desc}
      else
        p.justify #{description}

  mixin dates(date)
    - var format = 'MMMM YYYY'
    small #{moment.unix(date.start).format(format)} to&nbsp;
      if !date.end
        | present
      else
        | #{moment.unix(date.end).format(format)}

  mixin details(details)
    if details
      ul
        each detail in details
          li.justify #{detail}

  mixin mainExpImage(exp)
    .container.narrow-container
      a(href=exp.image.href)
        -var style = "background-image: url(" + exp.image.src + ");"
        div(style=style, title=exp.image.href, data-wow-offset="200").img-responsive.logo.wow.flipInX &nbsp;

  mixin mainExpInfo(exp)
    .container.experience.narrow-container
      h2 #{exp.name}
        each date in exp.dates
          +dates(date)
      +details(exp.details)
      +description(exp.description)

  section
    .slalom
      +mainExpImage(experience.current)
    +mainExpInfo(experience.current)

  hr

  section
    .container.experience

      mixin thumbnail(exp)
        .col-lg-6
          .thumbnail-bottom
            a(href=exp.image.href).center
              if exp.image.absolute
                img(src=exp.image.src, title=exp.image.href, style='position: absolute').img-responsive
              else
                img(src=exp.image.src, title=exp.image.href).img-responsive
          .caption
            h3.gutter=exp.name
              each date in exp.dates
                +dates(date)
            .info
              .gutter
                +details(exp.details)
                hr
                +description(exp.description)
              .show-more
                a(href='javascript: void(0);').btn.btn-default read more

      - var columns = 2, expLength = experience.previous.length
      - for (var i = 0; i < expLength; i=i+columns)
        .row
          - for (var j = 0; j < columns && i+j < expLength; j++)
            +thumbnail(experience.previous[i+j])

  hr

  section
    +mainExpImage(experience.education)
    +mainExpInfo(experience.education)

  hr
