extends layout

block headcss
  link(href='https://fonts.googleapis.com/css?family=Enriqueta:400,700|Dosis', rel='stylesheet', type='text/css')
block headjs
  script(src='/js/showmore.js')

block content
  section
    .jumbotron.masthead
      .container.narrow-container
        h1 Ryan A. Koval
        p.justify #{basics.label}
        p.justify A Southern Methodist University alumnus currently residing in Dallas, Texas, I have always been passionate about all things software. Because of this, I frequent&nbsp;
          a(href='https://news.ycombinator.com/' target='_blank') Hacker News
          | &nbsp;and subscribe to&nbsp;
          a(href='http://html5weekly.com/' target='_blank') HTML5
          | &nbsp;and&nbsp;
          a(href='http://javascriptweekly.com/' target='_blank') JavaScript Weekly
          |. They pretty much always contain content, trends, and technologies that interest and fascinate me. In the workplace, I always look for ways to become more efficient in anything that I am spending time on. As a result, my typical workflow on my MacBook Pro heavily utilizes Vim, Alfred, macros, terminal aliases, scripts, and hotkeys in order to make quick work of even the most daunting of tasks.
        p.justify Below is a selective list of technologies that I have knowledge of and companies of which I have worked. Think of this page as an informal, interactive description of myself that I actually enjoyed creating from scratch and playing around with (contrasted with my comparatively unstylish&nbsp;
          a(href='//resume.ryankoval.com' target='_blank').tracked formal resume
          |). The top navigation also contains obligatory links to my social media profiles and the like; feel free to contact me for any reason!


  section
    .container.icon-grid
      each skill in skills
        a.icon.col-lg-2.col-sm-3.col-xs-4(href=skill.website)
          - var style = 'background-image: url(' + skill.picture.src + ');'
          div.img.wow.fadeInUp(style=style, title=skill.name data-wow-offset="50" data-wow-delay="0.5") &nbsp;

  mixin description(description)
    .description
      if _.isArray(description)
        each desc in description
          p.justify #{desc}
      else
        p.justify #{description}

  mixin dates(startDate, endDate)
    - var format = 'MMMM YYYY'
    small #{moment(startDate).format(format)} to&nbsp;
      if !endDate
        | present
      else
        | #{moment(endDate).format(format)}

  mixin highlights(highlights)
    if highlights
      ul
        each highlight in highlights
          li.justify #{highlight}

  mixin mainExpImage(exp)
    - var backgroundColor = exp.picture.backgroundColor || 'transparent';
    div(style=exp.picture.style)
      .container.narrow-container
        - console.log(exp)
        a(href=exp.website)
          - var style = "background-image: url(" + exp.picture.src + ");"
          div(style=style, title=exp.website, data-wow-offset="200").img-responsive.logo.wow.flipInX &nbsp;

  mixin mainExpInfo(exp)
    .container.experience.narrow-container
      h2 #{exp.company || exp.institution}
        small #{exp.position}
        +dates(exp.startDate, exp.endDate)
      +highlights(exp.highlights)
      +description(exp.summary)

  section
    - console.log(work)
    +mainExpImage(work[0])
    +mainExpInfo(work[0])

  hr

  section
    .container.experience

      mixin thumbnail(exp)
        .col-lg-6
          .thumbnail-bottom
            a(href=exp.website).center
              img(src=exp.picture.src, title=exp.website).img-responsive
          .caption
            h3.gutter=exp.company
              small #{exp.position}
              +dates(exp.startDate, exp.endDate)
            .info
              .gutter
                +highlights(exp.highlights)
                hr
                +description(exp.summary)
              .show-more
                a(href='javascript: void(0);').btn.btn-default read more

      - var rows = _.chunk(work.slice(1), 2);
      each row in rows
        .row
          each column in row
            +thumbnail(column)

  hr

  section
    each e in education
      - console.log(e)
      +mainExpImage(e)
      +mainExpInfo(e)

  hr
