extends layout

block headcss
  
block headjs
  script(src='/js/showmore.js')

block content
  section
    .jumbotron.masthead
      .container
        h1 Ryan Alexander Koval
        p.justify A pragmatic, full-stack, Scala/Java developer and leader.
        p.justify A Southern Methodist University alumnus currently residing in Dallas, Texas, I have always been passionate about all things software. Because of this, I frequent&nbsp;
          a(href='https://news.ycombinator.com/' target='_blank') Hacker News
          | &nbsp;and subscribe to&nbsp;
          a(href='http://html5weekly.com/' target='_blank') HTML5
          | &nbsp;and&nbsp;
          a(href='http://javascriptweekly.com/' target='_blank') JavaScript Weekly
          |. They pretty much always contain content, trends, and technologies that interest and fascinate me. In the workplace, I always look for ways to become more efficient in anything that I am spending time on. As a result, my typical workflow on my MacBook Pro heavily utilizes Vim, Alfred, macros, terminal aliases, scripts, and hotkeys in order to make quick work of even the most daunting of tasks.
        p.justify Below is a selective list of technologies that I have knowledge of and companies that I have worked with. Think of this page as an informal, animated description of myself that I actually enjoyed creating from scratch and playing around with (contrasted with&nbsp;
          a(href='resume' target='_blank').tracked my comparatively unstylish formal resume
          |). The top navigation also contains obligatory links to my social media profiles and the like; feel free to contact me for any reason!


  section
    .container.icon-grid
      each skill in skills
        a.icon.col-lg-2.col-sm-3.col-xs-4(href=skill.href)
          - var style = "background-image: url(" + skill.image.href + ");"
          div.img.wow.fadeInUp(style=style, title=skill.name data-wow-offset="50" data-wow-delay="0.5") &nbsp;

  mixin description(description)
    .description
      if _.isArray(description)
        each desc in description
          p.justify #{desc}
      else
        p.justify #{description}

  mixin dates(date)
    - var format = 'MMMM YYYY'
    small #{moment.unix(date.start).format(format)} to&nbsp;
      if !date.end
        | present
      else
        | #{moment.unix(date.end).format(format)}

  mixin details(details)
    if details
      ul
        each detail in details
          li.justify #{detail}

  mixin mainExpImage(exp)
    .container.narrow-container
      a(href=exp.image.href)
        -var style = "background-image: url(" + exp.image.src + ");"
        div(style=style, title=exp.image.href, data-wow-offset="200").img-responsive.logo.wow.flipInX &nbsp;

  mixin mainExpInfo(exp)
    .container.experience.narrow-container
      h2 #{exp.name}
        each date in exp.dates
          +dates(date)
      +details(exp.details)
      +description(exp.description)

  section
    .slalom
      +mainExpImage(experience.current)
    +mainExpInfo(experience.current)

  hr

  section
    .container.experience

      mixin thumbnail(exp)
        .col-lg-6
          .thumbnail-bottom
            a(href=exp.image.href).center
              if exp.image.absolute
                img(src=exp.image.src, title=exp.image.href, style='position: absolute').img-responsive
              else
                img(src=exp.image.src, title=exp.image.href).img-responsive
          .caption
            h3.gutter=exp.name
              each date in exp.dates
                +dates(date)
            .info
              .gutter
                +details(exp.details)
                hr
                +description(exp.description)
              .show-more
                a(href='javascript: void(0);').btn.btn-default read more

      - var columns = 2, expLength = experience.previous.length
      - for (var i = 0; i < expLength; i=i+columns)
        .row
          - for (var j = 0; j < columns && i+j < expLength; j++)
            +thumbnail(experience.previous[i+j])

  hr

  section
    +mainExpImage(experience.education)
    +mainExpInfo(experience.education)

  hr
