extends layout

block headcss
  link(href='https://fonts.googleapis.com/css?family=Enriqueta:400,700|Dosis', rel='stylesheet', type='text/css')

block content
  section
    .jumbotron.masthead
      .container.narrow-container
        h1 #{basics.name}
        h2.center #{basics.label}

        p.justify Starting his technical career in 2011, Ryan has been exposed to virtually all aspects of software engineering. Working exclusively at companies with fast-paced environments, he has competence that can rival that of engineers with many more years under their belts. A year of experience is not always a universal unit of measuring someone's expertise. As such, he's been exposed to to a variety of unique systems. Frontend, backend, databases, devops, automation—you name it, he's likely done it. He has also worn hats in roles for product design and UI/UX and is intimately familiar with Agile principles as well (in fact, he's been&nbsp;
          a(href='agile-certification.pdf' target='_blank') officially certified
          | &nbsp;as a ScrumMaster).
        p.justify While he does strive for perfection, he also realizes that there is no silver bullet.  Software exists purely in the confines of a business world and rarely the other way around; therefore, an immaculately coded product will likely mean nothing without customers or a business behind it. Ryan is firmly aware of this concept, and his design process is built around it. As such, extended discussions stressing over minor technical details that won't raise your bottom line or solve for long-term engineering problems are often hard for him to prioritize (although they can be fun to muse about in a social setting).
        p.justify If you are looking for technical prowess that can architect and implement solutions of unparalleled quality and business value, look no further: scroll to see his skills and experience, view his&nbsp;
          a(href='//resume.ryankoval.com' target='_blank') formal resume
          | , or&nbsp;
          - var mailto = '&#109;&#65;&#73;&#76;&#84;&#111;&#58;&#114;&#121;&#97;&#110;&#64;&#114;&#121;&#97;&#110;&#107;&#111;&#118;&#97;&#108;&#46;&#99;&#111;&#109;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#114;&#121;&#97;&#110;&#107;&#111;&#118;&#97;&#108;&#46;&#99;&#111;&#109;&#37;&#50;&#48;&#73;&#110;&#113;&#117;&#105;&#114;&#121;'
          a(title='contact him' href!=mailto) contact him
          | !

        span#skills

  section
    .container.icon-grid
      each skill in skills
        a.icon.col-lg-2.col-sm-3.col-xs-4(href=skill.skill.website, target='_blank' rel='noopener noreferrer')
          - var style = 'background-image: url(' + skill.skill.picture.src + ');'
          div.img.wow.fadeInUp(style=style, title=skill.skill.name data-wow-offset="50" data-wow-delay="0.5") &nbsp;
          div.overlay
            div.text #{skill.skill.name}

  mixin description(description)
    .description
      if _.isArray(description)
        each desc in description
          p.justify #{desc}
      else
        p.justify #{description}

  mixin position(exp)
    small #{exp.position || _.compact([exp.studyType, exp.area]).join(', ')}

  mixin dates(startDate, endDate)
    - var format = 'MMMM YYYY'
    small #{moment(startDate).format(format)} to&nbsp;
      if !endDate
        | present
      else
        | #{moment(endDate).format(format)}

  mixin highlights(highlights)
    if highlights
      ul
        each highlight in highlights
          li.justify #{highlight}

  mixin skills(skills, classes)
    if skills
      div.row
        each skill in skills
          a.small-icon(class=classes, href=skill.website, target='blank' rel='noopener noreferrer')
            - var style = 'background-image: url(' + skill.picture.src + ');'
            div.img.wow.fadeIn(style=style, data-wow-offset="100" data-wow-delay="0.5") &nbsp;

  mixin mainExpImage(exp)
    - var backgroundColor = exp.picture.backgroundColor || 'transparent';
    div(style=exp.picture.style)
      .container.narrow-container
        a(href=exp.website)
          - var style = "background-image: url(" + exp.picture.src + ");"
          div(style=style, title=exp.website, data-wow-offset="200").img-responsive.logo.wow.flipInX &nbsp;

  mixin mainExpInfo(exp)
    .container.experience.narrow-container
      h2 #{exp.company || exp.institution}
        +position(exp)
        +dates(exp.startDate, exp.endDate)
      +skills(exp.skills, 'col-lg-1 col-md-1 col-sm-1 col-xs-2 main-experience-skills')
      +highlights(exp.highlights)
      +description(exp.summary)

  span#current

  hr

  section
    +mainExpImage(work[0])
    +mainExpInfo(work[0])
    span#past

  hr

  section
    .container.experience

      mixin thumbnail(exp)
        .col-lg-6
          .thumbnail-bottom
            a(href=exp.website).center
              img(src=exp.picture.src, title=exp.website, alt=exp.company).img-responsive
          .caption
            h3.gutter=exp.company
              +position(exp)
              +dates(exp.startDate, exp.endDate)
            .info
              .gutter
                +skills(exp.skills, 'col-lg-2 col-md-1 col-sm-2 col-xs-2')
                +highlights(exp.highlights)
                hr
                +description(exp.summary)
              .show-more
                a(href='javascript: void(0);').btn.btn-default read more

      - var rows = _.chunk(work.slice(1), 2);
      each row in rows
        .row
          each column in row
            +thumbnail(column)
      span#education

  hr

  section
    each e in education
      +mainExpImage(e)
      +mainExpInfo(e)

  hr
